<br/>
<div class="row mainContainer">
    <div class="col-md-12 npl npr">
        <!--start top nav box shadow div-->
        <div class="topnav boxShadow" style="border: 0;">
            <!-- start heading & logo div-->
            <div>

            <span class="fa iconContainer">
                <span class="fa icon-c-currency" ></span>
            </span>
            <h1> Add Company</h1>

            
            <!--end add role permission button-->
            </div> <!-- end heading & logo div-->
        </div> <!--end top nav box shadow div-->
    </div>
</div>


<br/>



<div class="mainContainer">

    
    <!--Left Panel -->
    <div class="commonPenalCls">
        
        <!--heading row-->
        <div class="row">
            <div class="col-md-12">
                <h5>COMPANY TYPE</h5>
                <hr/>
            </div>
        </div>

        <div class="innerContainer">
            <!-- Ownership row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <mat-select placeholder="Ownership Type" [(ngModel)]="cmbCType" (ngModelChange)="allowDiv()" required>
                            <mat-option *ngFor=" let item of types" [value]="item.BusinessTypeCd">
                                {{item.BusinessTypeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <!-- Company Name row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Company's Legal Name" required>
                    </mat-form-field>
                </div>
            </div>


            <!-- Reg no or ntn row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Registration No or NTN" >
                    </mat-form-field>
                </div>
            </div>
            

            <!-- STRN no row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="STRN" [(ngModel)]="bStrn" mask="000-000-000-0" [showMaskTyped]="true">
                    </mat-form-field>
                </div>
            </div>
            

            <!-- Business Type row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <mat-select placeholder="Business Type"  required>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <!-- Currenty row -->
            <div class="row">

                <div class="col-md-6">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Number of Employees">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="fullwidth">
                        <mat-select placeholder="Currency">
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>
    </div>




    <!--Middle panel-->
    <div class="commonPenalCls middalPanel">

        <!--heading row-->
        <div class="row">
            <div class="col-md-12">
                <h5>COMPANY ADDRESS</h5>
                <hr>
            </div>
        </div>
        
        <div class="innerContainer">

            <!-- address row -->
            <div class="row">
                <div class="col-md-12">
                    <app-config-address></app-config-address>
                </div>
            </div>

            <!-- contact row -->
            <div class="row">
                <div class="col-md-12">
                    <app-config-contact></app-config-contact>
                </div>                       
            </div>

        </div>
    </div>




    <!--Right Panel-->
    <div class="commonPenalCls rightPanel">

        <!-- Solo proprietorship portion start -->
        <div *ngIf="solePro">
            <!-- heading row -->
            <div class="row">
                <div class="col-md-12">
                    <h5>OWNERSHIP DETAIL</h5>
                    <hr/>
                </div>
            </div>
            
            <div class="innerContainer">
                <!-- Owner Name row -->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fullwidth">
                            <input matInput placeholder="Onwer Name" required>
                        </mat-form-field>
                    </div>
                </div>

                <!-- cnic number row -->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fullwidth">
                            <input matInput placeholder="CNIC Number" >
                        </mat-form-field>
                    </div>
                </div>

                <!--Address row -->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fullwidth">
                            <textarea matInput placeholder="Address"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <!--Country row -->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fullwidth">
                            <mat-select placeholder="Country" required>
                                    <!-- <input type="text" class="form-control">
                                    <mat-option
                                    *ngFor="let item of currency | search:'currencyName, currencyCode': searchCurrency" [value]="item"></mat-option>
                                    <table>
                                    <tr class='d-flex'>
                                        <td class="col-6">{{ item.currencyName }}</td>
                                        <td class="col-6">{{ item.currencyCode }}</td>
                                    </tr>
                                    </table>
                                    </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!--City Zip row -->
                <div class="row">
                        <div class="col-md-8">
                            <mat-form-field class="fullwidth">
                                <mat-select placeholder="City" required>
                                    <!-- <input type="text" class="form-control">
                                    <mat-option
                                    *ngFor="let item of currency | search:'currencyName, currencyCode': searchCurrency" [value]="item"></mat-option>
                                    <table>
                                    <tr class='d-flex'>
                                        <td class="col-6">{{ item.currencyName }}</td>
                                        <td class="col-6">{{ item.currencyCode }}</td>
                                    </tr>
                                    </table>
                                    </mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                
                        <div class="col-md-4">
                            <mat-form-field class="fullwidth">
                                    <input matInput placeholder="Zip Code">
                            </mat-form-field>
                        </div>
                </div>

                <!-- contact row -->
                <div class="row">
                    <div class="col-md-12">
                        <app-config-contact></app-config-contact>
                    </div>                       
                </div>

            </div>
        </div> <!-- Solo proprietorship portion End -->
    
    
    
        <!-- Partnership portion start -->
        <div *ngIf="partner">
            <!-- heading row -->
            <div class="row">

                <div class="col-md-6 npr">
                    <h5>PARTNERS LIST </h5>
                    <hr/>
                </div>

                <div class="col-md-6 text-right npl" >
                    <span class="btn-raised-ambit" data-toggle="modal" data-target="#partnerModal"> <i class="fa fa-plus-circle" style="color: #455FA9;"></i> add Partner</span>
                    <hr style="margin-top: 2px;">
                </div>
                <hr/>

            </div>

            <div class="innerContainer">
                <div class="row">
                    <div class="col-md-12">
                    <table class="table table-striped fullwidth">
                        <!-- <thead>
                        <tr class="d-flex">
                            <th [class.active]="order === 'erpRoleName'" (click)="setOrder('erpRoleName')"
                            class="col-4 pointerCursor text-left ">
                            Company Name
                            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
                            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
                            </th>
                            <th [class.active]="order === 'noOfModules'" (click)="setOrder('noOfModules')"
                            class="col-8 pointerCursor text-left">
                            Branch Title
                            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
                            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
                            </th>
                        </tr>
                        </thead> -->
                        <tbody>
                        <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                        <tr class='d-flex'>
                            <!-- *ngFor="let item of roles | search:'erpRoleName,noOfModules,uNoPage':tblSearch | paginate: { itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive' let i=index"> -->
                            <!-- <td class="col-1 text-center" hidden>{{item.erpRoleCd}}</td> -->
                            <td class="col-1 text-center"></td>
                            <td class="col-4 pointerCursor text-left"></td>
                            <td class="col-3 pointerCursor text-center"></td>
                            <td class="col-2 text-center">
                
                                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#userRoleModal">
                                <span class="fa icon-u-edit" ></span>
                                </span> 
                
                            </td>
                            <td class="col-2 text-center">
                
                            <!-- <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#dUserRoleModal" (click)="delete(item)">
                                <span class="fa icon-u-delete" ></span>
                            </span>  -->
                
                            <span class="fa tableIcon pointerCursor">
                                <span class="fa icon-u-delete" ></span>
                            </span> 
                
                            </td>
                
                            
                        </tr>
                        </tbody>
                    </table>
                    
                    </div>
                    
                    <!-- Pagination Starts -->
                    <div class="col-md-12 text-right">
                    <div class="paginationBox">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                    <div class="paginationBox">
                        <mat-form-field class="pagenateList">
                        <mat-select [(ngModel)]="itemPerPage">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="15">15</mat-option>
                            <mat-option value="20">20</mat-option>
                            <mat-option value="25">25</mat-option>
                            <mat-option value="30">30</mat-option>
                            <mat-option value="35">35</mat-option>
                            <mat-option value="40">40</mat-option>
                            <mat-option value="45">45</mat-option>
                            <mat-option value="50">50</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="paginationBox">
                        Item per page: &nbsp;&nbsp;
                    </div>
                    </div>
                    <!-- Pagination Ends -->
                
                </div>
            </div>
        </div> <!-- Partnership portion End -->
    
    
    
        <!-- Public Company portion start -->
        <div *ngIf="ppCom">
            
            <div class="row">
                <div class="col-md-6" style="padding-right: 0;">
                    <h5>DIRECTORS LIST </h5>
                    <hr/>
                </div>

                <div class="col-md-6 text-right" style="padding-left: 0;">
                    <span class="btn-raised-ambit" data-toggle="modal" data-target="#directorModal"> <i class="fa fa-plus-circle" style="color: #455FA9;"></i> add director</span>
                    <hr style="margin-top: 2px;">
                </div>
            </div>

            <div class="innerContainer">
                <div class="row">
                    <div class="col-md-12">
                    <table class="table table-striped fullwidth">
                        <!-- <thead>
                        <tr class="d-flex">
                            <th [class.active]="order === 'erpRoleName'" (click)="setOrder('erpRoleName')"
                            class="col-4 pointerCursor text-left ">
                            Company Name
                            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
                            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
                            </th>
                            <th [class.active]="order === 'noOfModules'" (click)="setOrder('noOfModules')"
                            class="col-8 pointerCursor text-left">
                            Branch Title
                            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
                            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
                            </th>
                        </tr>
                        </thead> -->
                        <tbody>
                        <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                        <tr class='d-flex'>
                            <!-- *ngFor="let item of roles | search:'erpRoleName,noOfModules,uNoPage':tblSearch | paginate: { itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive' let i=index"> -->
                            <!-- <td class="col-1 text-center" hidden>{{item.erpRoleCd}}</td> -->
                            <td class="col-1 text-center"></td>
                            <td class="col-4 pointerCursor text-left"></td>
                            <td class="col-3 pointerCursor text-center"></td>
                            <td class="col-2 text-center">
                
                                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#userRoleModal">
                                <span class="fa icon-u-edit" ></span>
                                </span> 
                
                            </td>
                            <td class="col-2 text-center">
                
                            <!-- <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#dUserRoleModal" (click)="delete(item)">
                                <span class="fa icon-u-delete" ></span>
                            </span>  -->
                
                            <span class="fa tableIcon pointerCursor">
                                <span class="fa icon-u-delete" ></span>
                            </span> 
                
                            </td>
                
                            
                        </tr>
                        </tbody>
                    </table>
                    
                    </div>
                    
                    <!-- Pagination Starts -->
                    <div class="col-md-12 text-right">
                    <div class="paginationBox">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                    <div class="paginationBox">
                        <mat-form-field class="pagenateList">
                        <mat-select [(ngModel)]="itemPerPage">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="15">15</mat-option>
                            <mat-option value="20">20</mat-option>
                            <mat-option value="25">25</mat-option>
                            <mat-option value="30">30</mat-option>
                            <mat-option value="35">35</mat-option>
                            <mat-option value="40">40</mat-option>
                            <mat-option value="45">45</mat-option>
                            <mat-option value="50">50</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="paginationBox">
                        Item per page: &nbsp;&nbsp;
                    </div>
                    </div>
                    <!-- Pagination Ends -->
                
                </div>
            </div>
        </div> <!-- Public Company portion End -->
    
    </div>

</div>

















<!-- Start Add Director Modal Window -->
<div class="modal fade" id="directorModal">
    <div class="modal-dialog shadow-lg-dark modal-lg modalCmpnyPro">
        <div class="modal-content">

        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Add Director</h4>
            <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
        <!--end Modal Header -->



        <!--start Modal body -->
        <div class="modal-body">
            
            <!-- Title row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Title" required>
                    </mat-form-field>
                </div>
            </div>

            <!-- Share Percentage row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Share Percentage" >
                    </mat-form-field>
                </div>
            </div>

            <!-- Director name row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Director's Name" >
                    </mat-form-field>
                </div>
            </div>
            
            <!-- CNIC row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="CNIC Number" >
                    </mat-form-field>
                </div>
            </div>
            
            <!--Address row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <textarea matInput placeholder="Address"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <!--Country row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <mat-select placeholder="Country" required>
                                <!-- <input type="text" class="form-control">
                                <mat-option
                                *ngFor="let item of currency | search:'currencyName, currencyCode': searchCurrency" [value]="item"></mat-option>
                                <table>
                                <tr class='d-flex'>
                                    <td class="col-6">{{ item.currencyName }}</td>
                                    <td class="col-6">{{ item.currencyCode }}</td>
                                </tr>
                                </table>
                                </mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!--City Zip row -->
            <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="fullwidth">
                            <mat-select placeholder="City" required>
                                <!-- <input type="text" class="form-control">
                                <mat-option
                                *ngFor="let item of currency | search:'currencyName, currencyCode': searchCurrency" [value]="item"></mat-option>
                                <table>
                                <tr class='d-flex'>
                                    <td class="col-6">{{ item.currencyName }}</td>
                                    <td class="col-6">{{ item.currencyCode }}</td>
                                </tr>
                                </table>
                                </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
            
                    <div class="col-md-4">
                        <mat-form-field class="fullwidth">
                                <input matInput placeholder="Zip Code">
                        </mat-form-field>
                    </div>
            </div>

            <!-- contact row -->
            <div class="row">
                <div class="col-md-12">
                    <app-config-contact></app-config-contact>
                </div>                       
            </div>

        </div>
        <!--end Modal body -->

        </div>
    </div>
</div>
<!-- End Add Director Modal Window  -->


<!-- Start Add Partner Modal Window -->
<div class="modal fade" id="partnerModal">
    <div class="modal-dialog shadow-lg-dark modal-lg modalCmpnyPro">
        <div class="modal-content">

        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Add Partner</h4>
            <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
        <!--end Modal Header -->



        <!--start Modal body -->
        <div class="modal-body">
            
            <!-- Partner Type row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Partner Type" required>
                    </mat-form-field>
                </div>
            </div>

            <!-- Share Percentage row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Share Percentage" >
                    </mat-form-field>
                </div>
            </div>

            <!-- Pertner name row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Partner's Name" >
                    </mat-form-field>
                </div>
            </div>
            
            <!-- CNIC row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="CNIC Number" >
                    </mat-form-field>
                </div>
            </div>
            
            <!--Address row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <textarea matInput placeholder="Address"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <!--Country row -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="fullwidth">
                        <mat-select placeholder="Country" required>
                                <!-- <input type="text" class="form-control">
                                <mat-option
                                *ngFor="let item of currency | search:'currencyName, currencyCode': searchCurrency" [value]="item"></mat-option>
                                <table>
                                <tr class='d-flex'>
                                    <td class="col-6">{{ item.currencyName }}</td>
                                    <td class="col-6">{{ item.currencyCode }}</td>
                                </tr>
                                </table>
                                </mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!--City Zip row -->
            <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="fullwidth">
                            <mat-select placeholder="City" required>
                                <!-- <input type="text" class="form-control">
                                <mat-option
                                *ngFor="let item of currency | search:'currencyName, currencyCode': searchCurrency" [value]="item"></mat-option>
                                <table>
                                <tr class='d-flex'>
                                    <td class="col-6">{{ item.currencyName }}</td>
                                    <td class="col-6">{{ item.currencyCode }}</td>
                                </tr>
                                </table>
                                </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
            
                    <div class="col-md-4">
                        <mat-form-field class="fullwidth">
                                <input matInput placeholder="Zip Code">
                        </mat-form-field>
                    </div>
            </div>

            <!-- contact row -->
            <div class="row">
                <div class="col-md-12">
                    <app-config-contact></app-config-contact>
                </div>                       
            </div>

        </div>
        <!--end Modal body -->

        </div>
    </div>
</div>
<!-- End Add Partner Modal Window  -->


<!-- Start Modal Window to delete Payemnt voucher data -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog shadow-lg-dark">
    <div class="modal-content">
      <!--start delete user Modal body -->
      <div class="modal-body">
        <br>
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Delete Currency</h2>
            <!-- <h2 [(ngModel)]="userName">{{userName}}</h2> -->
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter Password" type="password" [(ngModel)]="txtdPassword">
            </mat-form-field>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtdPin">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="warn" (click)="delete()">Delete</button>
          </div>
        </div>
        <br />
      </div>
      <!--end delete user Modal body -->

      <!--start delete user Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeDeleteModel">Close</button>
      </div>
      <!--end delete user Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to delete Payemnt voucher data -->