<div class="BgIntro">
  <div class="row">
    <div class="offset-md-2 col-md-6">
      <br /><br />
      <div class="h5Main">AMBIT ERP</div><br />
      <div class="h5Para">
        <p style="text-align: justify; text-justify: inter-word;">
          AMBIT ERP helps companies control their resources with and easy
          solution that solves insistent issues accross the entire business.
        </p><br />
        <p style="text-align: justify; text-justify: inter-word;">
          With AMBIT ERP, You can manage all aspects of your business
          with one single, fully integrated solution. It is and end to end ERP
          solution with real-time updates and implanted features keeping
          in your company connected at all times.
        </p>
      </div>
      <br />
      <div class="row" style="margin-bottom:20%;">
        <div class="col-md-5">
          <button mat-raised-button class="fullwidth BtnIntro buttonSquare" color="primary">
            &nbsp;&nbsp;PRIVACY STATEMENT&nbsp;&nbsp;
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
