<!--------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------->
<!--------------This is the forgot password screen in which user is---------------->
<!--------------resetting its password and go back to login screen----------------->
<!--------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------->


<!--start login body div-->
<div class="loginbody">
    <!--start login panel div-->
    <div class="loginPanel ">
      
      <!--start 1st row-->
      <div class="row" style="border:2px soild red;">
        <!--start ambit logo column-->
        <div class="col-md-12 text-center">
          <img class="mx-auto d-block" src="../assets/images/Ambit-Logo.svg" alt="" width="150em" height="150em">
        </div>
        <!--end ambit logo column-->
        <!--start heading column-->
        <div class="col-md-12 text-center">
          <div class="hLogin">
            Empowered by Innovation
          </div>
        </div>
        <!--end heading column-->

      </div>
      <!--end 1st row-->

      <!--start 2nd row-->
      <div class="h-100 row">
        <div class="offset-md-1 col-md-10">
          <!--start 2.1 row-->
          <div class="row">
            <!--start reset password label column-->
            <div class="col-md-12 text-center">
              <label style="color: #263e98">RESET PASSWORD</label>
            </div>
          </div>
          <!--end 2.1 row-->
          <br/>

          <!--start 2.2 row-->
          <div class="row">
            <!--start new password input box column-->
            <div class="col-md-12">
              <mat-form-field class='fullwidth' appearance="legacy">
                <mat-label class="inputLabel">
                  Enter new password *
                </mat-label>
                <input matInput id="txtUserName" type="password" class='loginInput' [(ngModel)]="txtPassword" autofocus>
                <mat-icon matSuffix color="primary">
                  <i class='fa icon-new-user'></i>
                </mat-icon>
              </mat-form-field>
            </div>
            <!--end new password input box column-->

          </div>
          <!--end 2.2 row-->
          <!--start 2.3 row-->
          <div class="row">
            <!--start confirm new password input box column-->
            <div class="col-md-12">
              <mat-form-field class='fullwidth' appearance="legacy">
                <mat-label class="inputLabel">
                  Confirm new password *
                </mat-label>
                <input id="txtPassword" type="password" matInput class='loginInput' [(ngModel)]="txtCnfrmPassword" (keypress)="getKeyPressed($event)" >
                <mat-icon matSuffix color="primary">
                  <i class='fa icon-cnfrm-password'></i>
                </mat-icon>
              </mat-form-field>
            </div>
            <!--start new password input box column-->
          </div>
          <!--start 2.3 row-->
          <br />
          <!--start save password button tab-->
          <button mat-raised-button class="fullwidth forgotButton" color="primary" (click)="changePassword()">
            SAVE PASSWORD
          </button>
          <!--end save password button tab-->

        </div>
      </div> <br />
      <!--end 2nd row-->
    </div>
    <!--end login panel div-->

    <!--start shadow  div-->
    <div id="boxBottomBorder">    
    </div>
    <!--end shadow  div-->
  
</div><!-- end login body div -->
  
  <!--start infovative logo row-->
  <div class="row">
    <div class="offset-md-10 col-md-2" style="position: fixed; bottom: 0.5em; right: -2em;">
        <img class="mx-auto d-block text-right" src="../../../assets/images/PoweredBy.svg" alt="" width="140em">
    </div>
  </div>
  <!--end infovative logo row-->
  
  <!--start copyright div-->
  <div class="copyRight">
    Copyright &copy; AMBIT. All rights reserved.
  </div>
  <!--end copyright div-->
  
  
  <!-- Start forgot password Modal Window -->
  <div class="modal fade modal-forgot" id="forgotModal">
    <div class="modal-dialog shadow-lg-dark modal-lg" style="width: 600px;">
      <div class="modal-content">
  
        <!--start Modal body -->
        <div class="modal-body" style="background-color: #6c81f8">
          <br/>
          <!--start modal window 1st row-->
          <div class="row">
            <!--start text column-->
            <div class="offset-md-1 col-md-7"><br/>
                <h4 class="fontWhite">
                  Hi Amir!
                </h4><br/>
              <p class="fontWhite">
                You have successfully updated<br/>
                your password. Click the button<br/>
                below to proceed signing in.<br/>
              </p>
            </div>
            <!--end text column-->
            <!--start reset password logo-->
            <div class="col-md-4 text-center" style="bottom: -2em; right: 3em;">
              <img class="mx-auto d-block text-right" src="../../../assets/images/ResetPassword-Large.svg" alt="" width="180em">
            </div>
            <!--end reset password logo-->

          </div>
          <!--end modal window 1st row-->
          <br/><br/>
          <!--start modal window 2nd row-->
          <div class="row">
            <!--start button column-->
            <div class="offset-md-1 col-md-4" style="margin-top: -8%">
              <button type="button" class="btn-border cursorPointer text-center" 
                routerLink='' style="margin: 0; width: 120%;">
                BACK TO LOGIN
              </button>
            </div>
            <!--end button column-->

            <!--start heading column-->
            <div class=" offset-md-1 col-md-6 text-center fontWhite">
              <h5>
                PASSWORD CHANGED
              </h5>
            </div>
            <!--end heading column-->
          </div>
          <!--end modal window 2nd row-->
          <br/>
        </div>
        <!--end Modal body -->
  
      </div>
    </div>
  </div>
  <!-- End forgot password Modal Window -->