<div class="row">
  <div class="offset-md-1 col-md-4">
    <h5>Server Time: &nbsp;</h5>
  </div>
  <div class="col-md-6">
    <h5><b>{{lblTime}}</b></h5>
  </div>
</div>
<br/>
<div class="row">
  <div class="offset-md-1 col-md-4">
    <h5>Computer Name: &nbsp;</h5>
  </div>
  <div class="col-md-6">
    <h5><b>{{lblComputerName}}</b></h5>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <mat-radio-group [(ngModel)]="rdbInput">
    <div class="row">
      <div class="offset-md-1 col-md-3">
        <mat-radio-button value="1">IN</mat-radio-button>
      </div>
      <div class="col-md-3">
        <mat-radio-button value="2">OUT</mat-radio-button>
      </div>
    </div>
    </mat-radio-group>
  </div>
</div>
<br/>
<div class="row">
  <div class="offset-md-1 col-md-10">
    <mat-form-field class='fullwidth'>
      <input matInput id="txtReason" [(ngModel)]="txtReason" placeholder="Reason" required>
    </mat-form-field>
  </div>
</div>
<br/>
<div class="row">
  <div class="offset-md-1 col-md-11">
    <button mat-raised-button color="primary">Save</button>
  </div>
</div>
<br/>