<br />
<!-- ERP Modules -->
<div class="row">
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)='openModule(1)'>
      <ul class="module-button finance">
        <li><span class="fa fa-calculator"></span></li>
        <!-- <li class="module-text">Finance</li> -->
        <li class="module-text">Configuration</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)='openModule(2)'>
      <ul class="module-button hr">
        <li><span class="fa fa-handshake-o"></span></li>
        <li class="module-text">HR</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)='openModule(4)'>
      <ul class="module-button payroll">
        <li><span class="fa fa-credit-card"></span></li>
        <li class="module-text">Payroll</li>
      </ul>
    </div>
  </div>
</div>
<br><br /><br />
<!-- row - 02 -->
<div class="row">
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)='openModule(3)'>
      <ul class="module-button user">
        <li><span class="fa fa-users"></span></li>
        <li class="module-text">User</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)='openModule(5)'>
      <ul class="module-button company">
        <li><span class="fa fa-building-o"></span></li>
        <li class="module-text">Company</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)='openModule(6)'>
      <ul class="module-button disaster">
        <li><span class="fa fa-free-code-camp"></span></li>
        <li class="module-text">Disaster</li>
      </ul>
    </div>
  </div>
</div>
<!-- end row - 02 -->
<br><br><br />
<!-- row - 03 -->
<div class="row">
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)="openModule(7)">
      <ul class="module-button procurement">
        <li><span class="fa fa-shopping-cart"></span></li>
        <li class="module-text">Procurement</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)='openModule(8)'>
      <ul class="module-button warehouse">
        <li><span class="fa fa-home"></span></li>
        <li class="module-text">Warehouse</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="module-widget pointerCursor" (click)='openModule(9)'>
      <ul class="module-button audit">
        <li><span class="fa fa-file-text"></span></li>
        <li class="module-text">Audit</li>
      </ul>
    </div>
  </div>
</div>
<br />
<!-- end row - 03 -->